name: CI Docker v2 - Build and Push Image

on:
  push:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      # Checkout repository code
      - uses: actions/checkout@v4

      # Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Log in to GitHub Container Registry
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build Docker image
      - name: Build Docker image
        run: |
          docker build \
            -f docker/Dockerfile.v1 \
            -t ghcr.io/${{ github.actor }}/devops-app:latest \
            .

      # Push Docker image to GHCR
      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.actor }}/devops-app:latest
